/* Header Related Styles */
body {
    font-family: "Open Sans", sans-serif;
}

.header{
    display: flex;
    align-items: center;
    background-color: #FCEEF1;
    margin-bottom: 100px;
}



.first-header{
    font-size: 30px;
    font-weight: 700;
    max-width: 300px;
    
}
.first-description{
    font-size: 15px;
    font-weight: 400;
    /* max-width: 300px; */
}
.btn-primary{
    border-radius: 5px;
    background: brown;
    color: #fff;
    border: 0;
    font-size: 10px;
    padding: 10px 15px;
}
.profile-pic{
    max-width: 300px;
}

/* Main Section */

/* First Section */

.first-section{
    /* width: 600px; */

}
.first-section-hp{
    text-align: center;
}
.section-header{
    font-size: 25px;
    font-weight: 700
}
.section-description{
    font-size: 10px;
    font-weight: 300;
}
.section-image{
    display: flex;
    gap: 20px;
    /* justify-content: space-between; */
    
}

.img-head img {
    width: 200px;

}
.img-head{
    text-decoration: underline;
}
/* First Section End */

/* Skill Section */

.skill-section{
    display: flex;
    gap: 20px;
}