/* Header Related Styles */
body {
    font-family: "Open Sans", sans-serif;
}

.header {
    background-color: #FCEEF1;
}

.banner {
    display: flex;
    align-items: center;
    max-width: 1100px;
    margin-bottom: 100px;
    justify-content: space-between;
    margin: 0 auto;
}

.header-item {
    max-width: 500px;
}

.first-header {
    font-size: 30px;
    font-weight: 700;
    max-width: 300px;

}

.first-description {
    font-size: 15px;
    font-weight: 400;
    /* max-width: 300px; */
}

.btn-primary {
    border-radius: 5px;
    background: brown;
    color: #fff;
    border: 0;
    font-size: 10px;
    padding: 10px 15px;
}

.profile-pic {
    max-width: 300px;
}

/* Main Section */

/* First Section */


/* width: 600px; */

.first-section {
    margin-bottom: 150px;
}


.first-section-hp {
    text-align: center;
}

.section-header {
    font-size: 25px;
    font-weight: 700
}

.section-description {
    font-size: 10px;
    font-weight: 300;
}

.feature-img {
    display: flex;
    justify-content: center;
    max-width: 1100px;
    margin: 0 auto;
    gap: 20px;
}

.feature-img-1 {
    text-decoration: underline;
    padding: 50px 30px 0 30px;
    margin: 10px;
    height: 300px;
    width: 250px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
}

.feature-img-2 {
    text-decoration: underline;
    padding: 50px 30px 0 30px;
    margin: 10px;
    height: 300px;
    width: 250px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
}

.feature-img-3 {
    text-decoration: underline;
    padding: 50px 30px 0 30px;
    margin: 10px;
    height: 300px;
    width: 250px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
}

/* First Section End */

/* Skill Section */

.skill-section {
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 20px;
    text-align: center;
    margin-bottom: 100px;
    background-color: gray;
}

.skill img {
    width: 50px;
}

/* Hot Deal Section */

.text-primary{
    color: brown;
}
.hot-deal-section {
    background-color: #FCEEF1;
}

.hot-deal-1 {
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    margin-bottom: 100px;
    justify-content: space-between;

}

/* Instagram-section */

.Instagram-section {
    max-width: 1100px;
    margin: 0 auto;
    margin-bottom: 100px;
}

.IG-Section {
    text-align: center;
}

.IMG-Section {
    display: flex;
}

.IG-IMG-1 {
    width: 275px;
    height: 300px;
}

.IG-IMG-2 {
    width: 275px;
    height: 300px;
}

.IG-IMG-3 {
    width: 275px;
    height: 300px;
}

.IG-IMG-4 {
    width: 275px;
    height: 300px;
}

/* last-banner */

.last-banner{
    max-width: 1100px;
    margin: 0 auto;
    margin-bottom: 100px;
}